@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');


#logo-image {
    margin-top: 3%;
    width: 300px;
    margin-bottom: 3%;
}

#header {
    font-family: 'Lato', 'sans-serif';
}

#header a {
    font-size: 150%;
    border: solid white 1px;
    text-decoration: none;
    color: black;
    padding: 7px;
    margin-top: 1%;
    margin-left: 3px;
}

#header a:hover{
    background-color: rgb(219, 219, 219);
    color: rgb(139, 132, 167);
    border: solid rgb(219, 219, 219) 1px;
}