/* Font-i*/
@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');

/* imazhi ne header*/
#logo-image {
    margin-top: 3%;
    width: 300px;
    margin-bottom: 3%;
    display:block;
    margin-left: auto;
    margin-right: auto;
}

#header {
    font-family: 'Lato', 'sans-serif';
    position: sticky;
    top: 0%;
    background-color: white;
    z-index: 111;
}

/* menuja*/
#header a {
    font-size: 150%;
    border: solid white 1px;
    text-decoration: none;
    color: black;
    padding: 7px;
    margin-top: 1%;
    margin-left: 3px;
}

#header a:hover{
    background-color: rgb(219, 219, 219);
    color: rgb(139, 132, 167);
    border: solid rgb(219, 219, 219) 1px;
    transition: 0.45s;
}

/* Videoja*/
#bg-video {
    position: static;
    width: 100%;
    height: auto;
  }

#video p {
    position: absolute;
    left: 0;
    top: 40%;
    width: 100%;
    font-size: 300%;
    color: white;
    font-family: 'Lato', 'sans-serif';
}

/*Features*/

#features {
    margin-top: 10%;
}

#feature-1 {
    width: 40%;
    float: left;
    margin-left: 5%;
}

#feature-2 {
    width: 40%;
    float: right;
    margin-right: 5%;
}

.feature-text {
    float: right;
    font-family: 'Lato', 'sans-serif';
    font-size: 120%;
}

#feature-1 img{
    width: 20%;
    height: auto;
}

#feature-2 img{
    width: 19%;
    height: auto;
}

.feature-h1 {
    float: right;
}

/*Activities*/

#activities {
    margin-top: 36%;
    width: 85%;
    height: 130px;
    position: relative;
    margin-left: 6%;
}

.activities-banner {
    width: 50%;
    color: black;
    font-size: 50px;
    margin-left: 25%;
    text-align: center;
    font-family: 'Lato', 'sans-serif';
    margin-top: 53%;
}

.activity-block-1 {
    margin-bottom: 21px;
}

.title-block-1 {
    color: #108ac1;
    margin-top: 20%;
    font-size: 30.5px;
    margin-left: 15%;
    margin-bottom: 10%;
}

.text-block-1 {
    position: absolute;
    font-family: "Open Sans", sans-serif;
    font-size: 17px;
    line-height: 1.9;
    margin-bottom: 80px;
    margin-left: 14.9%;
    top: 251%;
    margin-right: 59%;
    color: #626262;
}

.text-block-img-1 {
    margin-left: -4%;
    margin-bottom: 1%;
    margin-top: -12%;

}

.activity-block-2 {
    margin-bottom: 21px;
}

.title-block-2 {
    color: #108ac1;
    margin-top: -20.4%;
    font-size: 30.5px;
    margin-left: 73.6%;
    margin-bottom: -2%;
    margin-right: -6%;
}

.text-block-2 {
    position: absolute;
    font-family: "Open Sans", sans-serif;
    font-size: 17px;
    line-height: 1.9;
    margin-bottom: 80px;
    margin-left: 73.9%;
    top: 251%;
    margin-right: 0%;
    color: #626262;
}

.text-block-img-2 {
    margin-left: 54%;
    margin-bottom: 1.3%;
    margin-top: 0%;
}

.activity-block-3 {
    margin-bottom: 21px;
}

.title-block-3 {
    color: #108ac1;
    margin-top: 7%;
    font-size: 30.5px;
    margin-left: 14.88888888%;
    margin-bottom: 10%;
}

.text-block-3 {
    position: absolute;
    font-family: "Open Sans", sans-serif;
    font-size: 17px;
    line-height: 1.9;
    margin-bottom: 80px;
    margin-left: 14.9%;
    top: 477%;
    margin-right: 59%;
    color: #626262;
}

.text-block-img-3 {
    margin-left: -4%;
    margin-bottom: 1%;
    margin-top: -12%;

}

.activity-block-4 {
    margin-bottom: 21px;
}

.title-block-4 {
    color: #108ac1;
    margin-top: -20.4%;
    font-size: 30.5px;
    margin-left: 73.6%;
    margin-bottom: -2%;
    margin-right: -6%;
}

.text-block-4 {
    position: absolute;
    font-family: "Open Sans", sans-serif;
    font-size: 17px;
    line-height: 1.9;
    margin-bottom: 80px;
    margin-left: 73.9%;
    top: 477%;
    margin-right: 0%;
    color: #626262;
}

.text-block-img-4 {
    margin-left: 54%;
    margin-bottom: 1.3%;
    margin-top: 0%;
}

p:last-child {
    margin-bottom: 0px;
}

/*Our-company */
#our-company {
    margin-top: 50%;
}
#company-image{
    width: 40%;
    height: auto;
    position: relative;
    margin-left: 6%;
    
}
#our-company h1{
    float: right;
    margin-right: 30%;
    margin-left: 20px;
    text-align: center;
    font-size: 250%;
   
 

}

#first-part {
    width: 80%;
    color: rgb(63, 63, 63);
}

#second-part {
    width: 35%;
    
}

.company-text {
    padding: 15%;
    font-family: 'Lato', 'sans-serif';
    width: 32%;
    font-size: 18px;
    margin-left: 36%;
    margin-right: 30%;
    
}





/* Contacts */
#contacts {
    margin: 10%;
    font-family: 'Lato', 'sans-serif';
}

#forum-part {
    width: 35%;
    float: left;
}

#forum-part p{
    font-family: 'Lato', 'sans-serif';
    margin-bottom: 10%;
    color: rgb(138, 138, 138);
    float: right;
    font-size: 250%;
}

.input {
    width: 100%;
    font-size: 90%;
    border-radius: 1%;
    border: solid 1px rgb(204, 204, 204);
    margin-bottom: 3%;
    padding: 3%;
    box-sizing: border-box;
    font-family: 'Lato', 'sans-serif';
}

#inputs textarea{
    width: 100%;
    padding: 3%;
    margin-bottom: 3%;
    border: solid 1px rgb(204, 204, 204);
    border-radius: 1%;
    font-family: 'Lato', 'sans-serif';
    box-sizing: border-box;
    resize: none;
}

#sendIt-button{
    float: right;
    width: 30%;
    padding: 3% 25% 3% 11%;
    box-sizing: border-box;
    background-color: rgb(255, 255, 255);
    border: solid 1px rgb(204, 204, 204);
    font-family: 'Lato', 'sans-serif';
    font-size: 110%;
    color: rgb(138, 138, 138);
    border-radius: 1%;
}


#text-part {
    width: 55%;
    float: right;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3%;
}

#text-part img{
    width: 100%;
    height: auto;   
}

#contacts-text {
    font-family: 'Lato', 'sans-serif';
    color: rgb(138, 138, 138);
}

#footer-text {
    float: left;
    margin-top: 12%;
    margin-bottom: 3%;
    margin-left: 3%;
    font-family: 'Lato', 'sans-serif';
    color: rgb(138, 138, 138);
    font-size: 110%;
}

/*#footer-button {
    float: right;
    width: 10%;
    height: 10%;
    background-color: rgb(158, 158, 158);
    border: solid 1px rgb(158, 158, 158);
}*/
#first-part img{
    float: left;
}
